<div >
	<div id="top">
        <h1 @click='go_home()'>吉嗑就圓</h1>
        <img src="@/assets/images/common/cat.png" @click='go_home()'>
        <input type="text"placeholder="輸入搜尋內容" v-model='keyword'>
        <button type="button"  v-on:click='search()'><b-icon icon="search"></b-icon></button>
        <img src="@/assets/images/common/car.png" @click='go_cart()'>
        <div v-if="info">
            <a href='#/info' ><p v-if="info" v-text='info.username'></p></a>
            <a href="#/info"><img v-if="info" :src="info.avatar" style='width:20px'></a>
            <a href="#"><p @click="logout()">退出</p></a>
        </div>
        <div v-if="!info">
            <a href="#/register"><p>註冊</p></a>
            <a href="#/login"><p>登入</p></a>
        </div>
        <ul class='row'>
            <li class='col-2' style="color:#CAFFFF;"></li>
            <li class='col-2'><a href="#/index">首頁</a></li>
            <li class='col-2'><a href="#/info">我的帳戶</a></li>
            <li class='col-2'><a href="#/orders">我的訂單</a></li>
            <li class='col-2'><a href="#/store" v-if='info && info.limit'>我的賣場</a></li>
            <li class='col-2'style="color:#CAFFFF;"></li>
        </ul>
    </div>
    <div id="middle">
    	<div id="bread">
            <b-breadcrumb>
            	<b-breadcrumb-item href="#/index">首頁
                </b-breadcrumb-item>
                <b-breadcrumb-item href="#/shoppings" >購物車
                </b-breadcrumb-item>
                <b-breadcrumb-item  href="#/shoppings_checkout" >結帳
                </b-breadcrumb-item>
                <b-breadcrumb-item  active >確認結帳
                </b-breadcrumb-item>
            </b-breadcrumb>
        </div>
        <form method="POST" accept-charset="UTF-8" action="https://payment-stage.ecpay.com.tw/Cashier/AioCheckOut/V5" enctype="application/x-www-form-urlencoded ">
            <div>
                <span>訂單編號:</span>
                <input  type="text" name="MerchantTradeNo" :value="order.num_show">
            </div>
            <div><span>訂單時間:</span>
                <input  type="text" name="MerchantTradeDate" :value="order.num_time">
            </div>
            <div><span>店家代號:</span>
                <input  type="text" name="MerchantID" value="2000132"></div>
            <div><span>店家名稱:</span>
                <input  type="text" name="TradeDesc" value="JCshoppingmall">
            </div>
            <div><span>訂單內容:</span>
                <input  type="text" name="ItemName" :value=" order.item">
            </div>
            <div><span>訂單金額:</span>
                <input  type="text" name="TotalAmount" :value=" order.money_total">
            </div>
            <div><span>付款方式:</span>
                <input  type="text" name="ChoosePayment" value="Credit"  v-if="order.payway === 1" >
                <input  type="text" name="ChoosePayment" value="BARCODE"  v-if="order.payway === 2" >
            </div>
            <div>
                <span>支付方式:</span>
                <input  type="text" name="PaymentType" value="aio">
            </div>
            <div>
                <span>客戶回歸網址:</span>
                <input  type="text" name="ClientBackURL" :value="order.url_c">
            </div>
            <div>
                <span>繳費回調網址:</span>
                <input  type="text" name="OrderResultURL" :value="order.url_o">
            </div>
            <div>
                <span>已繳費通知網址:</span>
                <input  type="text" name="ReturnURL" :value=" order.url">
            </div>
            <div><span>驗證號碼:</span>
                <input  type="text" name="CheckMacValue" :value="order.CheckMacValue">
            </div>

            <div>
                <span>
                </span>
                <input  type="text" name="EncryptType" value="1">
            </div>
            <b-button  type="submit" variant="outline-primary" size='sm'>確認送出</b-button>
        </form>
        <div>
            <table>
                <tbody>
                   <tr>
                       <th>訂單編號:</th>
                       <td>{{ order.num_show }}</td>
                       <th>訂單時間:</th>
                       <td>{{ order.num_time }}</td>
                   </tr>
                   <tr>
                       <th>收件人:</th>
                       <td>{{ order.gname }}</td>
                       <th>地址:</th>
                       <td>{{ order.address }}</td>
                   </tr>
                   <tr>
                       <th>手機:</th>
                       <td>{{ order.phone }}</td>
                       <th>備註:</th>
                       <td>{{ order.content }}</td>
                   </tr>
                   <tr>
                       <th>付款方式:</th>
                       <td><p v-if="order.payway === 1">信用卡付款</p>
                        <p v-if="order.payway === 2">超商繳費</p></td>
                       <th>訂單金額:</th>
                       <td>{{ order.money_total }} 元</td>
                   </tr>
                </tbody>
            </table>
        </div>
        <div class='cart_scan'>
            <div class="title">
                <p class="col-5">商品</p>
                <p class="col-2">金額</p>
                <p class="col-2">數量</p>
                <p class="col-2">小記</p>
            </div>
            <div class="list" v-for='item in list'>
                <p class="col-4" >{{ item.pname }}</p>
                <img class="col-1"  :src='item.photo' >
                <p class="col-2">{{ item.price }} 元</p>
                <p class="col-2">{{ item.count }}</p>
                <p class="col-2" :id='item.num_list'>{{ item.item_total }} 元</p>
            </div>
        </div>
        <div class='left_bot'>
            <b-button  variant="outline-secondary" size='sm'@click="delete_l(order.num_list)" >返回上頁</b-button>
        </div>
    </div>
    <div id="bottom">
        <div>
            <p>© 2021年 JCircle 版權所有。</p>
            <img src="@/assets/images/common/way.jpg" >
            <ul>
                <li>
                    <img src="@/assets/images/common/fb.png" style="width:4%;">
                    <p>Facebook</p>
                </li>
                <li>
                    <img src="@/assets/images/common/ig.png" style="width:4%;">
                    <p>Instagram</p>
                </li>
            </ul>
            <div>
                <p>APP 下載</p>
                <img src="@/assets/images/common/QRcode.png" style="width:70px;" >
            </div>
        </div>
    </div>
</div>