<div >
	<div id="top">
        <h1 @click='go_home()'>吉嗑就圓</h1>
        <img src="@/assets/images/common/cat.png" @click='go_home()'>
        <input type="text"placeholder="輸入搜尋內容" v-model='keyword'>
        <button type="button"  v-on:click='search()'><b-icon icon="search"></b-icon></button>
        <img src="@/assets/images/common/car.png" @click='go_cart()'>
        <div v-if="info">
            <a href='#/info' ><p v-if="info" v-text='info.username'></p></a>
            <a href="#/info"><img v-if="info" :src="info.avatar" style='width:20px'></a>
            <a href="#"><p @click="logout()">退出</p></a>
        </div>
        <div v-if="!info">
            <a href="#/register"><p>註冊</p></a>
            <a href="#/login"><p>登入</p></a>
        </div>
        <ul class='row'>
            <li class='col-2' style="color:#CAFFFF;"></li>
            <li class='col-2'><a href="#/index">首頁</a></li>
            <li class='col-2'><a href="#/info">我的帳戶</a></li>
            <li class='col-2'><a href="#/orders">我的訂單</a></li>
            <li class='col-2'><a href="#/store" v-if='info && info.limit'>我的賣場</a></li>
            <li class='col-2'style="color:#CAFFFF;"></li>
        </ul>
    </div>
    <div id="middle">
    	<div id="bread">
            <b-breadcrumb>
            	<b-breadcrumb-item href="#/index">首頁
                </b-breadcrumb-item>
                <b-breadcrumb-item href="#/shoppings" >購物車
                </b-breadcrumb-item>
                <b-breadcrumb-item  active >購物車結帳
                </b-breadcrumb-item>
            </b-breadcrumb>
        </div>
        <div>
            <table>
                <tbody>
                   <tr>
                       <th>訂單編號:</th>
                       <td>{{ list.list_num }}</td>
                       <th>訂單時間:</th>
                       <td>{{ list.list_time }}</td>
                   </tr>
                   <tr>
                       <th>收件人:</th>
                       <td><b-form-input id="input_per" v-model="gname" size='sm' placeholder='請輸入收件人' style='width:150px;margin: 0 auto;'></b-form-input></td>
                       <th>地址:</th>
                       <td><b-form-input id="input_a" v-model="address" size='sm' placeholder='請輸入地址' style='width:400px;margin: 0 auto;'></b-form-input></td>
                   </tr>
                   <tr>
                       <th>手機:</th>
                       <td><b-form-input id="input_ph" v-model="telephone" size='sm'placeholder='請輸入手機' style='width:150px;margin: 0 auto;'></b-form-input></td>
                       <th>備註:</th>
                       <td><b-form-input id="input_co" v-model="content" size='sm' style='width:400px;margin: 0 auto ;'></b-form-input></td>
                   </tr>
                   <tr>
                       <th>付款方式:</th>
                       <td><b-form-checkbox-group v-model="payway" :options="options" value-field="value" text-field="text" inline ></b-form-checkbox-group></td>
                       <th>優惠:</th>
                       <td> {{ list.bonus_kind }}</td>
                   </tr>
                </tbody>
            </table>
        </div>
    	<div class='cart_scan'>
            <div class="title">
                <p class="col-5">商品</p>
                <p class="col-2">金額</p>
                <p class="col-2">數量</p>
                <p class="col-2">小記</p>
            </div>
            <div class="list" v-for='item in list'>
                <p class="col-4" >{{ item.pname }}</p>
                <img class="col-1"  :src='item.pphoto' >
                <p class="col-2">{{ item.price }} 元</p>
                <p class="col-2">{{ item.count }}</p>
                <p class="col-2" :id='item.list_id'>{{ item.item_total }} 元</p>
            </div>
        </div>
        <div class='left_bot'>
            <p>優惠:{{ list.bonus_total }}元</p>
            <p>運費:{{ list.shipping }}元</p>
            <p id='total' >總金額:{{ list.list_total }} 元</p>
            <b-button  variant="outline-secondary" size='sm'@click='go_back()' >返回上頁</b-button>
            <b-button  href="#" variant="outline-primary" size='sm' style='margin-left: 5px;' @click='checkout()'>確認送出</b-button>
        </div>
    </div>
    <div id="bottom">
        <div>
            <p>© 2021年 JCircle 版權所有。</p>
            <img src="@/assets/images/common/way.jpg" >
            <ul>
                <li>
                    <img src="@/assets/images/common/fb.png" style="width:4%;">
                    <p>Facebook</p>
                </li>
                <li>
                    <img src="@/assets/images/common/ig.png" style="width:4%;">
                    <p>Instagram</p>
                </li>
            </ul>
            <div>
                <p>APP 下載</p>
                <img src="@/assets/images/common/QRcode.png" style="width:70px;" >
            </div>
        </div>
    </div>
</div>