<div>
    <div id="top"  >
        <h1 @click='go_home()'>吉嗑就圓</h1>
        <img src="@/assets/images/common/cat.png" @click='go_home()'>
        <input type="text"placeholder="輸入搜尋內容" v-model='keyword'>
        <button type="button"  v-on:click='search()'><b-icon icon="search"></b-icon></button>
        <img src="@/assets/images/common/car.png">
        <a href="#/register"><p>註冊</p></a>
        <a href="#/login"><p>登入</p></a>
    </div>
    <div id="middle" >
        <img src='@/assets/images/common/sun.jpg'>
        <div class='row align-items-start'>
            <div class='col'></div>
            <div class='col'></div>
            <h3 class='col-12'>用戶登入</h3>
            <div>
                <b-input-group class="mb-2" size="sm">
                    <b-input-group-prepend is-text>
                        <b-icon icon="person-fill"></b-icon>
                    </b-input-group-prepend>
                    <b-input type="text" v-model='username' placeholder='請輸入用戶名'
                   ></b-input>
                </b-input-group>
                <b-input-group class="mb-2" size="sm">
                    <b-input-group-prepend is-text>
                        <b-icon icon="lock"></b-icon>
                    </b-input-group-prepend>
                    <b-input type="password"  v-model='password' placeholder='請輸入5~10位數密碼'></b-input>  
                </b-input-group>
                <b-button variant="outline-primary " @click="submit()">提交</b-button>
            </div>
        </div>
    </div>
    <div id="bottom">
        <div>
            <p>© 2021年 JCircle 版權所有。</p>
            <img src="@/assets/images/common/way.jpg" >
            <ul>
                <li>
                    <img src="@/assets/images/common/fb.png" style="width:4%;">
                    <p>Facebook</p>
                </li>
                <li>
                    <img src="@/assets/images/common/ig.png" style="width:4%;">
                    <p>Instagram</p>
                </li>
            </ul>
            <div>
                <p>APP 下載</p>
                <img src="@/assets/images/common/QRcode.png" style="width:70px;" >
            </div>
        </div>
    </div>
</div>

